<div class="container" style="margin-top: 40px; width: 50%; margin-left: auto; margin-right: auto;">
    <h3>Agregar Nuevo Paciente</h3>
    <form (ngSubmit)="agregarPaciente()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoPaciente.nombre" name="nombre"
                required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoPaciente.apellido" name="apellido"
                required>
        </div>
        <div class="form-group">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" [(ngModel)]="nuevoPaciente.fechaNacimiento"
                name="fechaNacimiento" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" [(ngModel)]="nuevoPaciente.direccion"
                name="direccion" required>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoPaciente.telefono" name="telefono"
                required>
        </div>
        <div class="form-group">
            <label for="municipioId">Municipio</label>
            <select class="form-control" id="municipioId" [(ngModel)]="nuevoPaciente.municipioId" name="municipioId"
                required>
                <!-- Aquí puedes cargar los municipios disponibles -->
                <option *ngFor="let municipio of municipios" [value]="municipio.id">{{ municipio.nombre }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100" style="margin-top: 20px;">Agregar Paciente</button>
        <button type="button" routerLink="/paciente" class="btn btn-outline-secondary w-100 mt-3">Regresar</button>
    </form>
</div>
