<div class="container mx-auto mt-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="guardarMunicipio()" novalidate #f="ngForm">
                <div class="form-group mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                      [(ngModel)]="municipio.nombre" required>
                </div>
                <button class="btn btn-primary w-100" [disabled]="!f.valid">Crear</button>
                <button type="button" routerLink="/municipio" class="btn btn-outline-secondary w-100 mt-3">Regresar</button>
            </form>
        </div>
    </div>
</div>
