<div class="site-wrap">

  <nav class="site-nav">
    <div class="name"> Centro de Salud </div>
    <span class="text-center">Hola: {{nombreUsuario}}</span>
    <ul>
      <li class="active"><a [routerLink]="['/citas']">Citas</a>
        <ul>
          <li><a>Mis citas</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/usuario']">Usuarios</a></li>
      <li><a [routerLink]="['/paciente']">Paciente</a></li>
      <li><a [routerLink]="['/municipio']">Municipio</a></li>
      <li><a [routerLink]="['/medico']">Medico</a></li>
      <li><a [routerLink]="['/vacuna']">Vacunas</a></li>      
      <button (click)='onLogout()' class="btn btn-primary">Cerrar sesión</button>    
    </ul>    
  </nav>

  <main>
    <header></header>
    <router-outlet></router-outlet>
  </main>
</div>